@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: #8daae5;
  font-family: "arial", "sans-serif";
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 2rem;
  max-width: 1000px;
  background-color: white;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 4px 0 black;
          box-shadow: 0 0 4px 0 black;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  min-height: 100vh;
}

.wrapper .logo {
  -ms-flex-preferred-size: 70px;
      flex-basis: 70px;
  padding: 10px;
}

.wrapper .logo__image {
  width: 100%;
  display: block;
  -webkit-box-shadow: 0 0 10px 0 #084e63;
          box-shadow: 0 0 10px 0 #084e63;
  margin: 10px 15px;
}

.wrapper .search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .search__input {
  width: 30%;
  height: 50%;
  max-height: 50px;
  font-size: 1.6rem;
  padding: 0 5px;
}

.wrapper .search__input:focus {
  -webkit-box-shadow: 0 0 1px 0 black;
          box-shadow: 0 0 1px 0 black;
}

.wrapper .search__btn {
  width: 20%;
  text-transform: uppercase;
  padding: 5px;
  margin: 0 10px;
  height: 50%;
  max-height: 50px;
  letter-spacing: 2px;
}

.wrapper .search__btn:hover {
  background-color: black;
  cursor: pointer;
  color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.wrapper .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 8vw;
      flex-basis: 8vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 10px;
}

.wrapper .settings__icon-link {
  color: #1982ac;
}

.wrapper .settings__icon-link:hover {
  color: black;
}

.wrapper .menu {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #0d85aa;
  font-family: "PT sans", "Roboto", "arial", "sans-serif";
  margin-top: 10px;
  height: 70px;
  padding: 15px 50px 15px 80px;
}

.wrapper .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.wrapper .menu__item {
  margin: 0 20px;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 4rem;
}

.wrapper .menu__item:hover {
  border-bottom: 2px solid white;
}

.wrapper .menu__item:nth-last-child(1) {
  margin-left: auto;
  border: 2px solid #cacaca;
}

.wrapper .menu__item:nth-last-child(1):hover {
  border-color: greenyellow;
}

.wrapper .menu__item:nth-last-child(1) .menu__link {
  padding: 0 22px;
}

.wrapper .menu__link {
  display: block;
  color: white;
  text-decoration: none;
}

.wrapper .main-articles {
  background-color: darkred;
  -ms-flex-preferred-size: 60vh;
      flex-basis: 60vh;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.wrapper .article-list {
  background-color: gainsboro;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.wrapper .footer {
  background-color: gold;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
/*# sourceMappingURL=style.css.map */